<html>

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<div style="margin: 0;font-size: 14px;color: #262626;box-sizing: border-box;font-family: 'San Francisco',Arial,Helvetica,san-serif,serif">
		<div style="width: 100%;max-width: 650px;background: #f2f2f2;margin: auto;">
			<div style="padding: 20px;">
				<div style="background: #FFF; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);">
					<div style="padding: 20px;">
						<div>
							<h3>Hai, <span style="font-weight: bold">{{name}}</span></h3>
						</div>
						<div>
							<p style="color:#9e9e9e ">
								Selamat, kamu telah berhasil mendaftar sebagai Peserta Doscom University 2019:
							</p>
						</div>
						<hr style="border-style: dashed;border-color: #bdbdbd; margin: 20px 0;">
						<div style="display: flex;">
							<div style="width: 100%;">
								<p style="font-weight: bold; margin-bottom: 5px;">
									<span style="color: #bdbdbd;display: block;padding-bottom: 7px;">Nama Lengkap</span> {{name}}
								</p>
								<p style="font-weight: bold; margin-bottom: 5px;">
									<span style="color: #bdbdbd;display: block;padding-bottom: 7px;">Email</span> {{email}}
								</p>
								<p style="font-weight: bold; margin-bottom: 5px;">
									<span style="color: #bdbdbd;display: block;padding-bottom: 7px;">Kelas Pilihan</span> {{room}}
								</p>
								<p style="font-weight: bold; margin-bottom: 5px;">
									<span style="color: #bdbdbd;display: block;padding-bottom: 7px;">Jadwal </span>
									<ol> 
									{{#each timePlace}}
									<li>{{.}}</li>
									{{/each}}
									</ol>
								</p>								
							</div>
						</div>
						<hr style="border-style: dashed;border-color: #bdbdbd;margin: 20px 0;">
						<div>
							<p style="color:#9e9e9e">
								Silahkan, melakukan pembayaran secara tunai di Camp. Doscom (UDINUS Gd. D, Lt. 1) atau Stand Promosi kami, di Gd. H1 atau transfer melalui rekening kami 
							</p>
							<ol>
								<li>MANDIRI 136-00-1625705-4 Atas nama MAULANA MUHAMMADIN</li>
								<li>BRI - 6672-0102-4885-534 Atas nama FREDO ANDREAN YULIO REOVALDO</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div style="background: #E8E8E8; text-align: center; padding: 20px;">
				<p>
					<a href="mailto:sekretariat@doscom.org?subject=Pendaftaran DU 2019" target="_blank" style="text-align:center;color: #859595; text-decoration: none;">
						<img src="https://files.mailtarget.co/assets/icons/reply-32.png" alt="Reply" width="20">
						Reply
					</a>
				</p>
				<img src="http://doscom.org/images/logo-mini-doscom.png" alt="doscom" style="width: 100px;">
				<p style="color:#9e9e9e; font-size: 11px;">
					Semarang, Jawa Tengah, Indonesia
				</p>
				<p style="text-align: center;">
					<a href="https://www.facebook.com/doscomedia/ style="color: transparent;">
						<img src="https://madhang.id/images/icon/email/facebook.png" title="Facebook">
					</a>
					<a href="https://www.instagram.com/doscomedia/" style="color: transparent;">
						<img src="https://madhang.id/images/icon/email/instagram.png" title="Instagram">
					</a>
					<a href="https://www.twitter.com/doscomedia" style="color: transparent;">
						<img src="https://madhang.id/images/icon/email/twitter.png" title="Twitter">
					</a>
					<a href="https://www.youtube.com/user/doscomedia" style="color: transparent;">
						<img src="https://madhang.id/images/icon/email/youtube.png" title="Youtube">
					</a>
				</p>
			</div>
		</div>
	</div>
</body>

</html>
