<html>

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<div style="margin: 0;font-size: 14px;color: #262626;box-sizing: border-box;font-family: 'San Francisco',Arial,Helvetica,san-serif,serif">
		<div style="width: 100%;max-width: 650px;background: #f2f2f2;margin: auto;">
			<div style="padding: 20px;">
				<div style="background: #FFF; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);">
					<div style="background: #8e44ad;width: 100%;">
						<div style="padding: 20px;">
							<img src="https://user-images.githubusercontent.com/21119252/34459239-16407fee-ee1d-11e7-94c1-dc6446f962b0.png" alt="FLS" style="width: 100px;">
						</div>
					</div>
					<div style="padding: 20px;">
						<div>
							<span>Hai, <span style="font-weight: bold"><%=fullname%></span></span>
						</div>
						<div>
							<p style="color:#9e9e9e ">
								Selamat, kamu telah berhasil menyelesaikan Tahap pertama untuk menjadi delegates FLS 2018. Berikut
								merupakan data penting yang perlu kamu ingat :
							</p>
						</div>
						<hr style="border-style: dashed;border-color: #bdbdbd; margin: 20px 0;">
						<div style="display: flex;">
							<div style="width: 100%;">
								<p style="font-weight: bold; margin-bottom: 5px;">
									<span style="color: #bdbdbd;display: block;padding-bottom: 7px;">Nama Lengkap</span> <%=fullname%>
								</p>
								<p style="font-weight: bold; margin-bottom: 5px;">
									<span style="color: #bdbdbd;display: block;padding-bottom: 7px;">Email</span> <%=email%>
								</p>
								<p style="font-weight: bold; margin-bottom: 5px;">
									<span style="color: #bdbdbd;display: block;padding-bottom: 7px;">Room Pilihan</span> <%=room%>
								</p>
								<img src="<%-roomImage%>" style="width: 128px;height: auto; margin: 1em 0;">
							</div>
						</div>
						<hr style="border-style: dashed;border-color: #bdbdbd;margin: 20px 0;">
						<div>
							<span style="display: inline-block;width: 80%;">
								<p style="margin-top: 0;">
									Selanjutnya, silakan kamu upload <a href="http://daftar.futureleadersummit.org/images/grab-the-chance.jpeg" download>poster berikut ini</a> di instagram kamu dan tuliskan caption di bawah ini
									<p>
										"Saya sudah berani mengambil kesempatan untuk menjadi agen perubahan dunia dengan mendaftar Future Leader Summit 2018. Kalaukamu kapan? Tantang dirimu sekarang juga!
										<br>#FutureLeaderSummit2018
										<br> #GrabTheChance
										<br> #TakeThe Charge
									"
								 </p>
								Jangan lupa tag akun instagram FLS <a href="https://www.instagram.com/flsummit/">@flsummit</a> dan tag 5 orang teman kamu, tantang mereka untuk mendaftar FLS 2018.
								</p>
								<p style="margin-top: 0;">
									Untuk tahap pengumuman yang akan kami Informasikan melalui website resmi kami di
									<a href="https://futureleadersummit.org" style="color: #8e44ad;text-decoration: none;">
										 futureleadersummit.org
									</a>.
								</p>
							</span>
							<p style="text-align:center">
								<b>Grab the Chance, Take the Charge!</b>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div style="background: #E8E8E8; text-align: center; padding: 20px;">
				<p>
					<a href="mailto:futureleadersummit@gmail.com?subject=Pendaftaran FLS 2018" target="_blank" style="text-align:center;color: #859595; text-decoration: none;">
						<img src="https://files.mailtarget.co/assets/icons/reply-32.png" alt="Reply" width="20">
						Reply
					</a>
				</p>
				<img src="https://user-images.githubusercontent.com/21119252/41821836-c2787e10-7810-11e8-8d2a-cc829bea4ae3.png" alt="Fls" style="width: 100px;">
				<p style="color:#9e9e9e; font-size: 11px;">
					Semarang, Jawa Tengah, Indonesia
				</p>
				<p style="text-align: center;">
					<a href="https://www.facebook.com/futureleadersummit/" style="color: transparent;">
						<img src="https://madhang.id/images/icon/email/facebook.png" title="Facebook">
					</a>
					<a href="https://www.instagram.com/flsummit/" style="color: transparent;">
						<img src="https://madhang.id/images/icon/email/instagram.png" title="Instagram">
					</a>
					<a href="https://www.twitter.com/flsummit" style="color: transparent;">
						<img src="https://madhang.id/images/icon/email/twitter.png" title="Twitter">
					</a>
					<a href="https://www.youtube.com/user/FLSummit" style="color: transparent;">
						<img src="https://madhang.id/images/icon/email/youtube.png" title="Youtube">
					</a>
				</p>
			</div>
		</div>
	</div>
</body>

</html>
